#address-manager-top {

    position: absolute;
    height: fit-content;
    align-items: center;
    background-color: rgb(79, 118, 177);

    #address-manager-wrapper {

        width: 100vw;
        padding: 0.75rem 0;
        text-align: center;

        #address-manager-input {

            #address-manager-form-wrapper {

                padding-bottom: 1rem;

                #address-manager-form {
                    
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                    justify-items: center;

                    #address-manager-email-input {

                        padding: 0.75rem 0;
                        grid-row-start: 1;
                        grid-row-end: 2;

                        input {
                            padding: 0.3rem 0.5rem;
                            height: 2rem;
                            font-size: 1rem;
                            outline: none;
                            border: 1px solid rgb(102, 102, 102);
                            border-radius: 0.35rem;
                            align-self: center;
                        }
                    }

                    #address-manager-submit-button {

                        grid-row-start: 2;
                        grid-row-end: 3;
                        border: 1px solid rgb(102, 102, 102);
                        border-radius: 0.35rem;
                        width: 60%;
                        max-width: 14rem;
                        height: 2rem;
                        align-self: center;

                    }

                }

            }
        }

        #address-manager-list-wrapper {
            
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            height: 16rem;
            padding: 1rem 0;
            background-color: white;
            color: #000011;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
