* {
    box-sizing: border-box;
    font-family: "roboto", serif;
    user-select: none;
    overflow-x: hidden;
}


a:active {
    background-color: transparent;
}

img, button {

    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h3 {
    font-weight: 500;
    font-size: 1.3rem;
}