* {
    box-sizing: border-box;
    font-family: "roboto", serif;
    user-select: none;
}

a:active {
    background-color: transparent;
}

img, button {

    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}