#gallery-top {

    width:100vw;
    min-height: 200px;
    background-image: linear-gradient(30deg, #4f76b1, #746830 25%, #425d86 50%, #2b8a82 75%, #4f76b1 100%);
    display: flex;
    flex-direction: column;

    #gallery-wrapper {
        
        width: 95vw;
        padding-top: 30px;
        padding-left: 2.6%;
        padding-right: 2.4%;
        padding-bottom: 28px;
        height: fit-content;
        display: flex;
        flex-direction: column;

        @media (min-width: 576px) {
            flex-direction: row;
        }

        overflow-x: hidden;
        align-self: center;

        #gallery-thumbnails {

            overflow-x: hidden;
            width: 100%;
            height: fit-content;
            background-color: white;
            padding: 5px 5px 5px;
            min-height: 153.391px;

            position: static;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            img {

                padding: 10px;
                display: inline-block;
                cursor: pointer;
                transition: scale 0.15s ease-in;
                scale: 1;

                &:hover {
                    transition: scale 0.15s ease-in;
                    scale: 1.04;
                }
            }
        }
    }
}