#header-top {

    height: fit-content;
    overflow: hidden;
    
    #header-wrapper {

        #header-title-top {

            height: calc((100vw * 0.5625));
            overflow: hidden;

            #header-title-wrapper {
                
                width: 80%;
                position: absolute;
                top: calc((100vw * 0.5625) * 0.3);
                left: 10%;
                z-index: 1;
                overflow: visible;
            }
        }

        #header-intro-top {

            width: 100vw;
            justify-items: center;

            #header-intro-wrapper {

                min-width: 280px;
                max-width: 600px;
                text-align: center;
            }
        }
    }
}