#image-manager-top {

    width: 100vw;
    height: fit-content;
    margin: 1rem 0;

    #image-manager-wrapper {

        #image-manager-display {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            overflow: hidden;

            #image-manager-header-bar {

                width: 100%;
                height: fit-content;
                font-size: 1.125rem;
                font-weight: 450;
                padding: 0.625rem 0 0.625rem 0;
            }

            img {
                padding: 0.25rem 0.25rem 0.25rem 0.25rem;
                border: 1px solid black;
            }

            
        }
    }
}